<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.peernow360.mappers.IProjectMapper">

    <insert id="createProject" parameterType="com.example.peernow360.dto.ProjectDto" useGeneratedKeys="true" keyProperty="no">
        insert into project(user_id, title, detail, start_date, end_date, reg_date, mod_date)
        values(#{user_id}, #{title}, #{detail}, #{start_date}, #{end_date}, now(), now())
    </insert>

    <insert id="createTeam" parameterType="com.example.peernow360.dto.TeamDto">
        insert into team(peer_id, role, no, status)
        values(#{peer_id}, #{role}, #{no}, COALESCE(#{status}, 'WAIT'))
    </insert>

    <select id="getPeer" parameterType="String" resultType="com.example.peernow360.dto.UserMemberDto">
        select name, id, mail
        from user
        where name like concat('%', #{peerName}, '%')
    </select>

    <select id="projectDetail" parameterType="Integer" resultType="com.example.peernow360.dto.ProjectDto">
        select *
        from project
        where no = #{no}
    </select>

    <select id="projectList" parameterType="String" resultType="com.example.peernow360.dto.ProjectDto">
        select *
        from project
        where user_id = #{user_id}
    </select>

    <update id="modifyProject" parameterType="com.example.peernow360.dto.ProjectDto">
        update project p join team t on p.no = t.no
        set title = #{title}, detail = #{detail}, start_date = #{start_date}, end_date = #{end_date}, mod_date = now()
        where t.role = 'PM' and peer_id = #{user_id} and p.no = #{no}
    </update>

    <update id="acceptProject" parameterType="HashMap">
        update team
        set status = 'ACCEPT'
        where no = #{no}
          and peer_id = #{user_id}
    </update>

    <update id="declineProject" parameterType="HashMap">
        update team
        set status = 'DECLINE'
        where no = #{no} and peer_id = #{user_id}
    </update>

    <delete id="deleteProject" parameterType="HashMap">
        delete p from project p
        join team t on p.no = t.no
        where t.role = 'PM' and t.peer_id = #{user_id} and p.no = #{no}
    </delete>





</mapper>