<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.peernow360.mappers.IProjectMapper">

    <insert id="createProject" parameterType="com.example.peernow360.dto.ProjectDto" useGeneratedKeys="true" keyProperty="no">
        insert into PROJECT(user_id, title, detail, start_date, end_date, reg_date, mod_date)
        values(#{user_id}, #{title}, #{detail}, #{start_date}, #{end_date}, now(), now())
    </insert>

    <insert id="createTeam" parameterType="Map">
        insert into TEAM(user_id, project_no, role)
        values (#{peer_id}, #{no}, #{role})
    </insert>

    <select id="projectDetail" parameterType="Integer" resultType="com.example.peernow360.dto.ProjectDto">
        select *
        from PROJECT
        where no = #{no}
    </select>
    
</mapper>